@font-face {
	font-family: 'ionicons';
	src:url('../fonts/ionicons.woff')
}
body{
	height: 100%;
}
.ba-header {
	background: url('../img/bg-head.png');
	background-size: cover;
	min-height: 500px;
	position: relative;
}
.hero-scene--top {
	padding: 43px 0 0 0;
}
.hero-scene--logo {
	color: #60606e;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}
.hero-scene--logo:hover {
	color: #60606e;
	opacity: .9;
	text-decoration: none;
}
.menu_icon_cont {
	cursor: pointer;
	height: 31px;
	position: relative;
	width: 31px;
}
.menu_icon {
	background: #000;
	height: 2.5px;
	position: absolute;
	top: calc(50% - 1px);
	width: 15px;
}
.menu_icon::before {
	background: #000;
	content: '';
	display: block;
	height: 2px;
	position: absolute;
	top: -10px;
	width: 31px;
}
.menu_icon::after {
	background: #000;
	bottom: -10px;
	content: '';
	display: block;
	height: 2px;
	position: absolute;
	width: 20px;
}
.menu_icon_cont:hover > .menu_icon, .menu_icon_cont:hover > .menu_icon::after  {
	width: 31px;
}
.menu_icon_cont *, .menu_icon::after {
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.ba-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #60606e;
}
.ba-title h1 {
	font-weight: bold;
}
.breadcrubs a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #60606e;
}
.breadcrubs a:hover {
	text-decoration: underline;
}
.breadcrubs a.active {
	pointer-events: none;
}
.breadcrubs a:not(:first-child)::before {
	content: '/\00a0';
}
main {
	margin: 150px 0 0;
}
.contact__form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.name__input,
.email__input,
.object__input,
.contact__form textarea {
	background-color: #fefcf9;
	border: solid 1px rgba(0, 0, 0, 0.1);
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	color: #cccccc;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 4;
	margin-bottom: 30px;
	padding-left: 20px;
}
.contact__form input:active,
.contact__form input:focus,
.contact__form input:hover,
.contact__form textarea:active,
.contact__form textarea:focus,
.contact__form textarea:hover {
	outline: none;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(123,238,199,0.34);
	box-shadow: 1px 1px 5px 0px rgba(123,238,199,0.34);
}
.contact__form button {
	width: 30%;
	background-color: #7beec7;
	border: none;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 3.43;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 100px;
}
.contact__form button:active,
.contact__form button:focus,
.contact__form button:hover {
	outline: none;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(123,238,199,0.34);
	box-shadow: 1px 1px 5px 0px rgba(123,238,199,0.34);
}
.contact__info {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 2.14;
	text-align: left;
	color: #999999;
}
.contact__info h3 {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color: #60606e;
	font-size: 18px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 25px;
}
.contact__info p {
	margin: 0;
}
.contact__info--text {
	padding-bottom: 10px;
}
.contact__info p:last-child {
	font-weight: bold;
}
.name__input,
.email__input {
	width: 47%;
}
.object__input {
	width: 100%;
}
.contact__form textarea {
	width: 100%;
	height: 200px;
}
#map {
	width: 100%;
	height: 851px;
}
.form-container {
	background-color: #7beec7;
	margin: 150px 0 0;
	padding: 0 !important;
}
.form-container .top {
	margin: 50px 0 50px;
}
.form-container--left {
	padding: 0 !important;
}
.form-container--left h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.6;
	text-align: left;
	color: #ffffff;
	margin: 0;
	text-transform: uppercase;
}
.form-container--left .col-md-4 {
	padding: 0 !important;
	margin: 20px 0 0;
}
.form-container--left a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 49px;
	background-color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	color: #7beec7;
}
.form-container--left a:hover {
	text-decoration: none;
	color: #7beec7;
	-webkit-box-shadow: 1px 1px 5px 1px rgba(255,255,255,0.5);
	box-shadow: 1px 1px 5px 1px rgba(255,255,255,0.5);
}
.form-container--right {
	background-color: #ffffff;
	padding: 0 !important;
}
.form-container--right h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5;
	margin: 20px 0 18px 25px;
	color: #60606e;
}
.form-container--right p {
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
	color: #999999;
	font-family: 'Open Sans', sans-serif;
	margin: 0 61px 29px 26px;
}
.form-margin {
	margin: 0 26px 0 20px;
}
.form-container--right input {
	width: 73%;
	height: 50px;
	border: solid 1px rgba(0, 0, 0, 0.1);
	border-right: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 4;
	text-align: left;
	color: #cdcdcd;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	padding-left: 19px;
	margin-bottom: 18px;
}
.form-container--right input:active,
.form-container--right input:focus,
.form-container--right input:hover {
	outline: none;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(123,238,199,0.34);
	box-shadow: 1px 1px 5px 0px rgba(123,238,199,0.34);
}
.form-container--right button {
	background-color: #7beec7;
	border: none;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 50px;
	line-height: 3.43;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 26%;
}
.form-container--right button:active,
.form-container--right button:focus,
.form-container--right button:hover {
	outline: none;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(123,238,199,0.34);
	box-shadow: 1px 1px 5px 0px rgba(123,238,199,0.34);
}
.footer-container {
	margin: 30px auto;
}
.footer-container .col-md-6 {
	padding: 0 !important;
}
.footer-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer-navigation a {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 3.43;
	text-align: left;
	color: #9a9a9a;
	text-transform: uppercase;
}
.line {
	display: block;
	background-color: #9a9a9a;
	height: 2px;
	width: 5px;
	margin-top: calc(((3.43 * 14px) - 2px) / 2);
}
.footer-navigation a:hover {
	text-decoration: none;
	color: #9a9a9a;
	text-shadow: 1px 1px 1px #9a9a9a;
}
.footer-container .text {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 3.43;
	text-align: right;
	color: #9a9a9a;
	text-transform: uppercase;
	margin: 0;
}
.footer-socail--link {
	padding: 0 !important;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer-socail--link a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 48px;
	font-size: 18px;
	/* line-height: 2.67; */
	text-align: right;
	color: #999999;
}
.footer-socail--link a:hover {
	text-decoration: none;
	color: #999999;
	text-shadow: 1px 1px 1px #999999;
	font-size: 20px;
}
/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
